.vscode/
__pycache__/
*.pyc
sieve_instrumentation/instrumentation
sieve_instrumentation/config.json
sieve_server/sieve-server
sieve_server/server.yaml
sieve_server/configured_field_key_mask.json
sieve_server/configured_field_path_mask.json
sieve_server/learned_field_path_mask.json
log/
fakegopath/
app/
kind_configs/
deploy_script/ansible_hosts
sieve_test_results/
sieve_learn_results/
test_script/commands.txt
test_script/pull-commands.txt
test_script/hosts
test_script/remotehosts
test_script/test-summary-*.json
test_script/massive-testing-*
sieve_config.json
test_plan_stats.tsv
bug_reproduction_stats.tsv
