## Cassandra Operator Image
##
image:
  repository: ${SONAR-DR}/casskop-operator
  tag: ${SONAR-DT}
  pullPolicy: Always
  imagePullSecrets:
    enabled: false
#    name:

## Prometheus-operator resource limits & requests
## Ref: https://kubernetes.io/docs/user-guide/compute-resources/
resources:
  requests:
    cpu: 10m
    memory: 50Mi
  limits:
    cpu: 1
    memory: 512Mi

## If true, create & deploy the CRD
##
createCustomResource: true

## If true, create & use RBAC resources
##
rbacEnable: true

## if true deploy service for metrics access
metricService: false

debug:
  enabled: false

##
clusterServiceAccountsName:
  - cassandra-cluster-node
