---
- name: Install Docker
  hosts: ec2
  become: true
  vars_files:
    - vars/default.yaml

  tasks:
    - name: Remove old go
      ansible.builtin.file:
        path: /usr/local/go
        state: absent

    - name: Extract go1.13.9.linux-amd64.tar.gz into /usr/local/go
      ansible.builtin.unarchive:
        src: https://golang.org/dl/go1.13.9.linux-amd64.tar.gz
        dest: /usr/local
        remote_src: yes

    - name: Add PATH init value to bashrc
      ansible.builtin.lineinfile:
        path: "/home/{{ USER }}/.bashrc"
        line: export PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin
        state: present
        insertafter: EOF

    - name: Add go to bashrc
      ansible.builtin.lineinfile:
        path: "/home/{{ USER }}/.bashrc"
        line: export PATH=$PATH:/usr/local/go/bin
        state: present
        insertafter: EOF

    - name: Set GOPATH
      ansible.builtin.lineinfile:
        path: "/home/{{ USER }}/.bashrc"
        line: "export GOPATH=/home/{{ USER }}/go"
        state: present
        insertafter: EOF

    - name: Test installed go version
      shell: "/usr/local/go/bin/go version"
      register: go_version_output

    - name: Show output of go version
      debug:
        msg: "Go Version Output: {{ go_version_output.stdout }}"

    - name: Test env variables PATH
      debug:
        msg: "'{{ lookup('env', 'PATH') }}' is the PATH environment variable."

    - name: Test env variables GOPATH
      debug:
        msg: "'{{ lookup('env', 'GOPATH') }}' is the GOPATH environment variable."
